# Go
.gocache/
.modcache/
scripts/integration/out

# Docs / 
AGENTS.md
docs/prompt_template.md
fixtures/*
scripts/integration/out

# Env Vars
.env


# GCP credentials / keys
*.json
packfinderz-pf-app-sa.json
*service-account*.json
*sa*.json
*.pem
*.key