# Go
.gocache/
.modcache/

# Docs / agent config (DO NOT COMMIT)
AGENTS.md
docs/prompt_template.md

# Env Vars
.env


# GCP credentials / keys
*.json
packfinderz-pf-app-sa.json
*service-account*.json
*sa*.json
*.pem
*.key